
html{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    
    text-align: center;
    padding: 0;
    margin: 0;
}

.navbar {
    background: azure;
}


h1 {
    text-transform: uppercase;
    font-size: 48px;
    text-align: center;
}

p{
    text-align: center;
}

 a{
    color: #666;
}

a:hower{
    color: #000;
}

input {
    text-align: center;
    display: block;
    margin: 10px auto;
    box-shadow: 0 0 10px #000;
    background-color: #f2f2f2;
}

button{
    background-color: #000;
    text-align: center;
    margin: 10px auto;
    display: block;
    width: 200px;
    height: 50px;
    color: #f2f2f2;
   
    transition: transform 1000ms;
}
button:hover, button:focus-visible{
    transform: translateY(0.5rem);
    transition: transform 250ms;
}
.alert-danger {
    text-align: center;
    margin: 10px auto;
}
.alert-success {
    text-align: center;
    margin: 10px auto;
}


.quiz_name{
    
    text-align: center;
    margin: 10px auto;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;   
    
 }
